.header-container {
    height: 9.9vh;
    width: 100%;
    background: radial-gradient(circle, rgba(197,191,191,1) 0%, rgba(50,50,109,0.9304096638655462) 100%);
    border-bottom: 1px solid rgb(165, 163, 163);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.content-container {
    height: 80vh;
    width: 100%;
    background-image: url("https://assets-global.website-files.com/5e39e095596498a8b9624af1/5f1831a9c4237872d457d02f_Ecommerce.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    width: 400px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    background-color: rgba(245, 245, 245, 0.6);
}

.footer-container {
    height: 9.9vh;
    width: 100%;
    background: rgb(197,191,191);
    background: radial-gradient(circle, rgba(197,191,191,1) 0%, rgba(50,50,109,0.9304096638655462) 100%);
    border-top: 1px solid rgb(165, 163, 163);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}